bbox/bbox/weights/*
seg/seg/weights/*
seg/seg/bag/*
bbox/bbox/bag/*
bbox/object-detection/yolov3-custom/*
seg/object-segmentation/data/*
seg/object-segmentation/weights/*
seg/object-segmentation/wandb/*
bbox/object-detection/data/*

bbox/object-detection/yolov3-ultralytics/weight/*
bbox/object-detection/yolov3-ultralytics/wandb/*
bbox/object-detection/yolov3-ultralytics/data/*
bbox/object-detection/yolov3-ultralytics/*.pt
bbox/object-detection/yolov3-ultralytics/runs/*