bbox/bbox/weights/*
seg/seg/weights/*
seg/seg/bag/*
seg/object-segmentation/*.ipynb
bbox/bbox/bag/*
bbox/object-detection/yolov3-custom/*
seg/object-segmentation/data/*
seg/object-segmentation/weights/*
seg/object-segmentation/wandb/*
bbox/object-detection/*
